<h3>あいまい検索</h3>
<div>
  <label for="price">値段：</label>
  <select name="price">
    <option value="null">指定なし</option>
    <option value="0">0 ~ 5万</option>
    <option value="1">5万 ~ 6万</option>
    <option value="2">6万 ~ 7万</option>
    <option value="3">7万 ~ 8万</option>
    <option value="4">8万 ~ 9万</option>
    <option value="5">9万 ~ 10万</option>
    <option value="6">10万 ~ </option>
  </select>
  {% with name = "price" %}
  {% include "search_weight.html" %}
  {% endwith %}
</div>
<div>
  <label for="station_distance">駅までの距離：</label>
  <select name="station_distance">
    <option value="null">指定なし</option>
    <option value="0">0~5分</option>
    <option value="1">6~10分</option>
    <option value="2">11~15分</option>
    <option value="3">16~20分</option>
    <option value="4">21~25分</option>
  </select>
  {% with name = "station_distance" %}
  {% include "search_weight.html" %}
  {% endwith %}
</div>
<div>
  <label for="age">築年数：</label>
  <select name="age">
    <option value="null">指定なし</option>
    <option value="0">0~10年</option>
    <option value="1">11~20年</option>
    <option value="2">21~30年</option>
    <option value="3">31~40年</option>
    <option value="4">41~50年</option>
    <option value="5">51~60年</option>
    <option value="6">60年~</option>
  <select name="age">
  </select>
  {% with name = "age" %}
  {% include "search_weight.html" %}
  {% endwith %}
</div>
