<h3>確定検索</h3>
<div>
  <label for="name">名前：</label>
  <input type="text" name="name">
</div>
<div>
  <label for="address">住所：</label>
  <input type="text" name="address">
</div>
<div>
  間取り：
  <label for="1K">1K</label>
  <input type="checkbox" id="1K" name="layout" value="1K">
  <label for="1DK">1DK</label>
  <input type="checkbox" id="1DK" name="layout" value="1DK">
</div>
<div>
  構造：
  <label for="鉄筋系">鉄筋系</label>
  <input type="checkbox" id="鉄筋系" name="structure" value="鉄筋系">
  </select>
</div>
