<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>検索デモ</title>
  </head>
  <body>
    <div>
      <h1>検索デモ</h1>
      <div>
        <form action="/admin" method="GET">
          <input type="submit" value="管理者画面へ"></form>
      </div>
    </div>
    {% include "search/search_condition.html" %}
    {% if search_flag %}
      {% include "search/result.html" %}
    {% else %}
      {% include "search/show.html" %}
    {% endif %}
  </body>
</html>
