<div class="search_condition box">
  <form action="/search" method="POST">
    {% for search in searchs %}
      <div>
        <label for={{search.name_en}}>{{search.name}}</label>

        {% if search.search_type==0 %} <!-- テキスト -->
          <input type="text" name={{search.name_en}}>

        {% elif search.search_type==1 %} <!-- チェックボックス -->
          {% for item in search.items.split(',') %}
            <label for={{item}}>{{item}}</label>
            <input type="checkbox" id={{item}} name={{search.name_en}} value={{item}}>
          {% endfor %}

        {% elif search.search_type==2 %} <!-- プルダウン -->
            <select name={{search.name_en}}>
              <option value="null">指定なし</option>
              {% for i in range(search.pull_menu_num) %}
                <option value={{i}}>
                  {{search.search_min + search.step*i}} ~ {{search.search_min + search.step*(i+1)}}{{search.unit}}
                </option>
              {% endfor %}
            </select>
        {% endif %}

        <!-- あいまい検索 -->
        {% if search.ambiguous %}
          {% with name = search.name_en %}
          {% include "search/search_weight.html" %}
          {% endwith %}
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="検索スタート!!">
  </form>
  <div class="reset_search">
    <form action="/" method="GET">
      <input type="submit" value="検索リセット">
    </form>
  </div>
</div>
