<div class="search_condition box">
  <form action="/search" method="POST">
    <!-- TODO Searchモデルから検索項目を表示できるようにする -->
    {% for search in searchs %}
      <div>
        <label for={{search.name_en}}>{{search.name}}</label>
        {% if search.search_type==0 %}
          <input type="text" name={{search.name_en}}>
        {% elif search.search_type==1 %}
          {% for item in search.items.split(',') %}
            {{item}}
          {% endfor %}
        {% else %}
          プルダウン
        {% endif %}

        {% if search.ambiguous %}
          {% with name = search.name_en %}
          {% include "search/search_weight.html" %}
          {% endwith %}
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="検索スタート!!">
  </form>
  <div class="reset_search">
    <form action="/" method="GET">
      <input type="submit" value="検索リセット">
    </form>
  </div>
</div>
