<div class="result_containar">
  <h2>検索結果</h2>
  <div>
    検索ヒット数： {{result_num}}
  </div>
  <div class="results_list">
    <ul>
      {% for result in results %}
      <li class="box">
        <p class="result_item_name">{{result.name}}</p>
        <div>
          <p>値段：{{result.price/10000}}万円</p>
          <p>住所：{{result.address}}</p>
          <p>間取り：{{result.layout}}</p>
          <p>駅からの距離：{{result.station_distance}}分</p>
          <p>築年数：{{result.age}}年</p>
          <p>構造：{{result.structure}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
